!!!
/[if lt IE 7] <html class='no-js lt-ie9 lt-ie8 lt-ie7' lang='en'>
/[if IE 7] <html class='no-js lt-ie9 lt-ie8' lang='en'>
/[if IE 8] <html class='no-js lt-ie9' lang='en'>
<!--[if gt IE 8]><!-->
%html{:class => 'no-js', :lang => 'en'}<>
  <!--<![endif]-->
  = partial "layouts/head"
  %body{:class => "#{page_classes}" }
    = partial "layouts/chromeframe"
    .site.hfeed
      %header.site-header
        %h1.info-name= data.resume.info.name
        .info-shortdesc.lowercase= data.resume.info.shortdesc
      .site-content
        .content-area
          .site-main
            .section
              %h2 Summary
              .article
                = markdown(data.resume.info.desc)
            .section
              %h2 Experience
              - data.resume.work.each do |work|
                .work.article
                  %h3.work-title=    work.title
                  %h4.work-employer= work.employer
                  %p.work-dates=     work.dates
                  %p.work-location=  work.location
                  .work-desc=    markdown(work.description)

        .widget-area
          .widget.widget_text
            .section
              %h2 Contact
              .article
                %ul
                  - data.resume.contact.each do |contact|
                    %li
                      = succeed ":" do
                        = contact.name
                      = markdown_unwrap_p(contact.link)

    / = partial "layouts/footer"
    - if content_for?(:footer)
      = yield_content :footer
    / = partial "layouts/jquery"
    - if content_for?(:script)
      = yield_content :script
