- email = ''
- data.resume.contact.each do |contact|
  - if contact.name == 'email'
    - email = contact.link
!!! Strict
%html
  %head
    %title
      = data.resume.info.name
      |
      = data.resume.info.shortdesc
      |
      = email

    %meta{:content => "text/html", :charset => "utf-8", :http => {:equiv => "content-type"}}
    %meta{:content => "", :name => "keywords"}
    %meta{:content => "", :name => "description"}

    %link{:rel => "stylesheet", :href => "//yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css", :media => "all", :type => "text/css"}/
    %link{:rel => "stylesheet", :href => "/themes/srt/resume.css", :media => "all", :type => "text/css"}/
%body
  #doc2.yui-t7
    #inner
      #hd
        .yui-gc
          .yui-u.first
            %h1= data.resume.info.name
            %h2= data.resume.info.shortdesc
          .yui-u
            .contact-info
              %h3= link_to 'Download PDF', '/resume.pdf', :id => "pdf"
              %h3= mail_to email
              / %h3 (313) - 867-5309
      #bd
        #yui-main
          .yui-b
            .yui-gf
              .yui-u.first
                %h2 Profile
              .yui-u
                = markdown(data.resume.info.desc)
            .yui-gf
              .yui-u.first
                %h2 Experience
              .yui-u
                - data.resume.work.each do |work|
                  .job
                    %h2= work.employer
                    %h3= work.title
                    %h4= work.dates
                    = markdown(work.description)
            .yui-gf
              .yui-u.first
                %h2 Education
              .yui-u
                - data.resume.education.each do |school|
                  .job
                    %h2= school.name
                    = markdown(school.description)

      #ft
        %p
          = data.resume.info.name
          &mdash;
          = mail_to email
          / &mdash;
          / (313) - 867-5309

